<% include ../partials/header %>


  <h1>Login up for Vinyl</h1>

  <form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Enter email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <button type="submit" name="Sign up"></button>
  </form>



<% include ../partials/footer %>
