<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <script type="text/javascript" src="/javascripts/script.js"></script>
</head>
<body>

  <h1>Vinyl</h1>

  <h2>Records</h2>

  <div class="main-wrapper">
    <% include ../partials/nav.ejs %>
      <div>
        <h5></h5>
        <span></span>
